* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 15px;
}

.col-1-2 {
  width: 50%;
}

.col-1-3 {
  width: calc(100% / 3);
}

.col-2-3 {
  width: calc(100% / 3 * 2);
}

/* HEADER */

#header {
  background-color: #0084fd;
  color: white;
}

#header .container {
  display: flex;
  justify-content: space-between;
}

#header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#header li {
  margin: 0 20px;
}

/* SECTION DEMO APP */

#demo-app {
  margin-bottom: 50px;
  margin-top: 50px;
}

#demo-app .card {
  width: calc(100% / 3);
}

#demo-app .col:first-child {
  width: calc(100% / 3 * 2);
}

#demo-app .card .col {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
}

#demo-app .card {
  background-color: #b5ddff;
  padding: 1rem;
  height: 100%;
}

/* SECTION STRATEGIC PLANNING */
#strategic-planning {
  background-color: #9792e4;
  padding: 3rem;
  height: 600px;
}

#strategic-planning .col-1-2 {
  display: flex;
  justify-content: flex-end;
}

#strategic-planning img {
  width: 250px;
  height: 250px;
}

#strategic-planning h3 {
  color: white;
  font-size: 20px;
}

#strategic-planning p {
  color: white;
  font-size: 15px;
}

.card.small {
  background-color: white;
  border-radius: 40px;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: flex-start;
}

.white-card {
  background-color: white;
  border-radius: 40px;
  width: 250px;
  height: 100px;
}

.card.small img {
  width: 80px;
  height: 80px;
}

.card.small h4 {
  color: black;
}

#strategic-planning .card.small p {
  color: black;
}

.card.small i {
  color: black;
  background-color: #9792e4;
  border-radius: 20px;
}

/* SECTION TESTIMONIALS */
.testimonials-title h5 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.testimonials-title h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #9792e4;
  font-size: 35px;
}

.testimonials-title p {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card-testimonials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
  background-color: #9792e4;
  margin-bottom: 30px;
  border-radius: 10px;
}

.testimonials-img {
  width: 30%;
}

.testimonials-img img {
  height: 100px;
  margin: 25px auto;
}

.testimonials-text {
  width: 70%;
  color: white;
  display: flex;
  align-items: center;
}

/* SECTION BENEFITS */
#benefits {
  background-color: #9792e4;
  min-height: 300px;
}

.benefits-title h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.col-1-3 .benefit .card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
  gap: 20px;
}

.col-1-3 {
  background-color: white;
  border-radius: 10%;
  height: 300px;
  width: 300px;
  margin: 10px auto;
}

.card h3 {
  color: #9792e4;
  font-size: 40px;
  padding: 10px;
}

.card h4 {
  color: #9792e4;
  font-size: 20px;
  padding: 10px;
}

.card p {
  font-size: 15px;
  padding: 10px;
}

.card button {
  color: white;
  background-color: #9792e4;
  margin-left: 10px;
}

/* SECTION ABOUT US */

.about-us-title {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: #9792e4;
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-us-min-title {
  display: flex;
  justify-content: flex-start;
  color: #9792e4;
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-us-button {
  display: flex;
  justify-content: flex-start;
  background-color: #9792e4;
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-us-img {
  width: 150px;
  height: 150px;
  margin: 15px;
}

/* SECTION GET STARTED */
#get-started {
  background-color: #9792e4;
  min-height: 300px;
}

.get-started-title h5 {
  display: flex;
  justify-content: center;
  font-size: 15px;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.get-started-title h3 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: white;
  margin-bottom: 30px;
  margin-top: 30px;
}

.get-started-title h2 {
  display: flex;
  justify-content: center;
  font-size: 55px;
  color: orange;
  margin-bottom: 30px;
  margin-top: 30px;
}

.get-started-title p {
  display: flex;
  justify-content: center;
  color: white;
  padding-bottom: 30px;
  margin-top: 30px;
}

.get-started-title .button {
  display: flex;
  justify-content: center;
  color: #9792e4;
  background-color: white;
  border-radius: 10%;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* FOOTER */
.footer {
  background-color: #333333;
  color: white;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.first-p-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.last-p-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

/* TABLET MEDIA */
@media screen and (max-width: 768px;) {
  .container {
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}

/* MOBILE MEDIA */
@media screen and (max-width: 480px;) {
  .container {
    width: 100%;
  }

  .col-2-3,
  .col-1-3 {
    width: 100%;
  }
}
