* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
  display: flex;
  flex-wrap: wrap;
}

.col {
  padding: 15px;
}

.col-1-2 {
  width: 50%;
  border: 2px solid black;
}

.col-1-3 {
  width: calc(100% / 3);
  border: 2px solid black;
}

.col-2-3 {
  width: calc(100% / 3 * 2);
  border: 2px solid black;
}

/* HEADER */

#header {
  background-color: #0084fd;
  color: white;
}

#header > .container {
  display: flex;
  justify-content: space-between;
}

/* SECTION DEMO APP */

#demo-app {
  margin-bottom: 50px;
  margin-top: 50px;
}

#demo-app .card {
  width: calc(100% / 3);
}

#demo-app .col:first-child {
  width: calc(100% / 3 * 2);
}

#demo-app .card .col {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
}

#demo-app .card {
  background-color: #b5ddff;
  padding: 1rem;
  height: 100%;
}

/* SECTION STRATEGIC PLANNING */
#strategic-planning {
  background-color: #9792e4;
  padding: 3rem;
  height: 100%;
}

/* SECTION TESTIMONIALS */
.testimonials-title h5 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.testimonials-title h2 {
  display: flex;
  justify-content: center;
  margin: 20px;
  color: #9792e4;
  font-size: 35px;
}

.testimonials-title p {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.card-testimonials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #9792e4;
  margin-bottom: 30px;
}

.testimonials-img {
  width: 30%;
}

.testimonials-text {
  width: 70%;
}

/* SECTION BENEFITS */
#benefits {
  background-color: #9792e4;
  min-height: 300px;
}

.benefits-title h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: white;
  margin-bottom: 30px;
}

.col-1-3 .benefit .card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: 100px;
  gap: 20px;
}

/* TABLET MEDIA */
@media screen and (max-width: 768px;) {
  .container {
    width: 100%;
  }

  .card {
    display: flex;
    flex-direction: column;
  }
}

/* MOBILE MEDIA */
@media screen and (max-width: 480px;) {
  .container {
    width: 100%;
  }

  .col-2-3,
  .col-1-3 {
    width: 100%;
  }
}
